{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="/theme/css/index.css" />
{% endblock %}

{% block content %}
    <section class="whoami">
        <h2><strong>I'm Tristian Azuara </strong></h2>
        <p>I create information systems that add value to businesses using technology. 
        I design, implement, test and improve new or existing systems and processes.</p>
        <a href="pages/about.html">More about me</a>
    </section>

    <section class="domains row">
        <div class="domain column small-4">
            <h2>Backend</h2>
            <p>I've designed, planned and implemented back-end systems that automated manufacturing processes, 
            integrated ERP solutions and exposed data as REST based APIs.</p>

            <a href="pages/success-stories.html?tags=backend,web-application">Projects</a>
        </div>

        <div class="domain column small-4">
            <h2>Front-end</h2>
            <p>I've developed Single Page applications that have worked on multiple browsers and for mobile devices.</p>

            <a href="pages/success-stories.html?tags=frontend">Projects</a>
        </div>
        
        <div class="domain column small-4">
            <h2>Mobile</h2>
            <p>I've worked on several MVP apps, where I defined, designed and implemented the core functionality, improved UI and UX as well as performance.</p>

            <a href="pages/success-stories.html?tags=mobile">Projects</a>
        </div>
    </section>
{% endblock %}
