{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="/theme/css/index.css" />
{% endblock %}

{% block content %}
    <section class="whoami">
        <h2>Hi!, I'm Tristian Azuara. I create <strong>information systems</strong></h2>
        <h4>that help you reach your busines goals; <a href="#">learn how I do it</a>.</h4>
    </section>

    <section class="content">
        <h1>Newest Articles</h1>
        {% for article in articles %}
            <article id="article-{{loop.index}}">
                <div class="featured-image">
                    <img src="{{article.thumbnail}}" alt="image" width="250" height="200"/>
                </div>
                <div class="content">
                    <h3 class="title">{{ article.title }}</h3>
                    <h6 class="date">{{ article.date | strftime('%B %d, %Y') }}</h5>
                    <p class="summary">{{ article.summary }}</p>

                    <div class="read-more">
                        <a href="{{ article.slug }}" class="right">Read more ...</a>
                    </div>

                    <ul class="tags">
                        {% for tag in article.tags %}
                            <li class="tag left">{{tag}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}
