.button.outline-outward {
    background-color: transparent;
}

.button.outline-outward:before {
    border-color: #44998E;
}


.navigation > * {
    float: left;
}

.navigation nav li {
    float: left;
    list-style-type: none;
}
