<!DOCTYPE html>
<html>
	<head>
        <title>Success Stories</title>

        <meta name="author" content="Tristian Azuara" />
        <meta name="date" content="2012-07-09 22:28" />
        <meta name="category" content="tristian" />
        <meta name="summary" content="Portfolio of projects" />
        <meta name="tags" content="projects,work" />
        <meta name="style" content="success-stories.css" />
	</head>
	<body>
        <section class="projects">
            {% for cat, projects in categories if cat == 'project' %}
            {% for project in projects %}
                <div class="row project">
                    <div class="column large-3">
                        <img src="{{ project.thumbnail }}" alt="" />
                    </div>
                    <div class="column large-9">
                        <h2 class="title"><a href="/{{ project.slug }}">{{ project.title }}</a></h2>
                        <p class="summary">{{ project.summary }}</p>
                        <ul class="tags">
                            {% for tag in project.tags %}
                                 <li class="left tag">{{ tag }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
            {% endfor %}
        </section>
	</body>
</html>
